.card{
    flex: 1;
    border: 2px solid teal;
    border-radius: 10px;
    overflow: hidden;
    
    margin: 20px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.card .footer{
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}
.card .conteudo{
    flex: 1;
    padding: 15px 0;
    
    color: #000;
    background-color: #fff;
}

